/* page home --------------------------------------- */
/* posts */
.posts {
	height: 300px;
	.post-item {
		height: 100%;
		box-shadow: 0 1px 3px #aaa;
	}
	.post-item:hover {
		box-shadow: 0 2px 10px #aaa;
		@include transition(all 0.5s);
	}
}